.field {
  margin: 5px;
  max-width: calc(33% - 10px);
  min-width: calc(33% - 10px);

  @media (max-width: 500px) {
    max-width: calc(100% - 10px);
    min-width: calc(100% - 10px);
  }
}

.field-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.action-buttons {
  display: flex;
  flex-direction: row-reverse;
}

h4 {
  min-width: 100%;
}
